
.custom-bg {
  background-color: #204080 !important;
  color: #fff !important;
}
.custom-bg .navbar-nav .nav-link,
.custom-bg .navbar-brand,
.custom-bg .navbar-toggler {
  color: #fff !important;
}
.custom-bg .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #204080 !important;
  background: #fff !important;
}
.custom-bg {
  background-color: #204080 !important;
  color: #fff !important;
}

form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.masthead {
  background-color: #fff !important;
}
